<a href="https://colab.research.google.com/github/priyanshgupta1998/Pandas_codes/blob/master/pandas1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Confirm TensorFlow can see the GPU

Simply select "GPU" in the Accelerator drop-down in Notebook Settings (either through the Edit menu or the command palette at cmd/ctrl-shift-P).

In [0]:
import pandas as pd

Make the dataframe for a raw input and data

In [66]:
prices = [[71,72,73],[91,92,93],[89,90,88],[76,75,84],[41,87,20],[24,87,96],[14,23,82],[10,80,35]]
create_dataframe = pd.DataFrame(prices)
print(create_dataframe)

    0   1   2
0  71  72  73
1  91  92  93
2  89  90  88
3  76  75  84
4  41  87  20
5  24  87  96
6  14  23  82
7  10  80  35

In [67]:
header_dataframe = pd.DataFrame(prices, columns=['jan','feb','march'])
print(header_dataframe)

   jan  feb  march
0   71   72     73
1   91   92     93
2   89   90     88
3   76   75     84
4   41   87     20
5   24   87     96
6   14   23     82
7   10   80     35

#WRITE / SAVE  these all dataframe in a csv file

In [0]:
pd.DataFrame(header_dataframe).to_csv('/home/output.csv')

In [69]:
again_data_read = pd.read_csv('/home/output.csv')
print(again_data_read)

   Unnamed: 0  jan  feb  march
0           0   71   72     73
1           1   91   92     93
2           2   89   90     88
3           3   76   75     84
4           4   41   87     20
5           5   24   87     96
6           6   14   23     82
7           7   10   80     35

In [70]:
print(header_dataframe['jan'])

0    71
1    91
2    89
3    76
4    41
5    24
6    14
7    10
Name: jan, dtype: int64

In [71]:
print(header_dataframe['jan'][2])

89

In [72]:
print(header_dataframe['jan'],'\n',header_dataframe['march'])

0    71
1    91
2    89
3    76
4    41
5    24
6    14
7    10
Name: jan, dtype: int64
 0    73
1    93
2    88
3    84
4    20
5    96
6    82
7    35
Name: march, dtype: int64


#print first five lines from the dataset

In [73]:
print(create_dataframe.head())

    0   1   2
0  71  72  73
1  91  92  93
2  89  90  88
3  76  75  84
4  41  87  20

#print Last five lines from the datasets

In [74]:
print(create_dataframe.tail())

    0   1   2
3  76  75  84
4  41  87  20
5  24  87  96
6  14  23  82
7  10  80  35

In [75]:
data_read = pd.read_csv('/home/kddcup.data.corrected.csv')
print(data_read.head())

   0  tcp  http  SF  215  45076  0.1  0.2  0.3  0.4   ...     0.17  0.00.6  \
0  0  tcp  http  SF  162   4528    0    0    0    0   ...        1     1.0
1  0  tcp  http  SF  236   1228    0    0    0    0   ...        2     1.0
2  0  tcp  http  SF  233   2032    0    0    0    0   ...        3     1.0
3  0  tcp  http  SF  239    486    0    0    0    0   ...        4     1.0
4  0  tcp  http  SF  238   1282    0    0    0    0   ...        5     1.0

   0.00.7  0.00.8  0.00.9  0.00.10  0.00.11  0.00.12  0.00.13  normal.
0     0.0    1.00     0.0      0.0      0.0      0.0      0.0  normal.
1     0.0    0.50     0.0      0.0      0.0      0.0      0.0  normal.
2     0.0    0.33     0.0      0.0      0.0      0.0      0.0  normal.
3     0.0    0.25     0.0      0.0      0.0      0.0      0.0  normal.
4     0.0    0.20     0.0      0.0      0.0      0.0      0.0  normal.

[5 rows x 42 columns]